@use '../utilities/variables';
@use './bottom-drawer-settings';

#bottom-drawer {
  position: fixed;
  bottom: var(--bottom-bar-height);

  .drawer-pane {
    position: absolute;
    top: 0;
    width: 100vw;
    transition: transform 0.46s ease-in-out;
    height: 400px;
    &.active {
      transform: translateY(-100%);
    }
    .coming-soon {
      padding-top: 15px;
    }
  }

  @media screen and (min-width: 992px) {
    top: 135px;
    bottom: unset;
    width: 30vw;
    left: 100%;
    z-index: 2;
    &.dt-active {
      left: 0;
    }
    .drawer-pane {
      width: 100%;
      &.active {
        transform: translate(0);
      }
      &:not(.dt-active) {
        display: none;
      }
      .pane-header {
        display: none;
      }
    }
  }
}
