#drawer-about {
  .pane-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  section {
    text-align: center;
    margin-bottom: 30px;
    .social-icons {
      margin-top: 10px;
    }
    p {
      margin-top: 0;
    }
  }
}
