@use '../utilities' as *;

#drawer-settings {
  background-color: #292f36;
  .pane-header {
    background-color: #3dd598;
    padding: 0 24px;
    h2 {
      padding: 8px 0;
    }
  }
  .pane-content {
    padding: 0 24px;
    .pane-tabs {
      padding: 25px 0;
      display: flex;
      justify-content: center;
      .section-label {
        margin: 0 19px;
        padding-bottom: 5px;
        &.active {
          margin-bottom: 2px;
          border-bottom: 3px solid #82ff9e;
        }
      }
    }
    .pane-tab {
      display: none;
      &.active {
        display: block;
      }
      .pane-setting {
        margin: 15px 0;
      }
    }
    #train {
      hr {
        border-color: #707070;
        color: #707070;
      }
      h4 {
        margin-bottom: 4px;
      }
      @media screen and (max-width: 992px) {
        .filters-list {
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
          }
          input {
            height: 30px;
            width: 30px;
            -webkit-appearance: none;
          }
          .train-line {
            &.red > input {
              border: 1px solid $cta-red;
              &:checked {
                background-color: $cta-red;
              }
            }
            &.blue > input {
              border: 1px solid $cta-blue;
              &:checked {
                background-color: $cta-blue;
              }
            }
            &.brn > input {
              border: 1px solid $cta-brown;
              &:checked {
                background-color: $cta-brown;
              }
            }
            &.g > input {
              border: 1px solid $cta-green;
              &:checked {
                background-color: $cta-green;
              }
            }
            &.org > input {
              border: 1px solid $cta-orange;
              &:checked {
                background-color: $cta-orange;
              }
            }
            &.p > input {
              border: 1px solid $cta-purple;
              &:checked {
                background-color: $cta-purple;
              }
            }
            &.pink > input {
              border: 1px solid $cta-pink;
              &:checked {
                background-color: $cta-pink;
              }
            }
            &.y > input {
              border: 1px solid $cta-yellow;
              &:checked {
                background-color: $cta-yellow;
              }
            }
          }
        }
      }
      #markerSize {
        height: 30px;
        width: 145px;
      }
      .wrap-inline {
        display: flex;
        flex-direction: row;
        align-items: center;
        h4 {
          padding-right: 32px;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .filters-list {
      list-style: none;
    }
    .train-line {
      width: 100%;
    }
    .checkbox-wrapper > input:checked {
      background-color: #ffffff;
    }

    .train-line.red {
      background-color: $cta-red;
    }
    .train-line.blue {
      background-color: $cta-blue;
    }
    .train-line.brn {
      background-color: $cta-brown;
    }
    .train-line.g {
      background-color: $cta-green;
    }
    .train-line.org {
      background-color: $cta-orange;
    }
    .train-line.p {
      background-color: $cta-purple;
    }
    .train-line.pink {
      background-color: $cta-pink;
    }
    .train-line.y {
      background-color: $cta-yellow;
    }
  }
}
