@use "../utilities" as *;

#custom-info-window {
  .train-info-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    h3 {
      margin: 6.5px 3px;
    }
    .train-id {
      padding-right: 60px;
    }
  }
  .train-info-window {
    padding: 20px;
    .next-stop {
      margin-bottom: 5px;
      margin-top: 0;
      font-size: 1.125rem;
    }
    .calculated-arrival {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.125rem;
    }
    .delayed {
      color: $cta-red;
      font-size: 0.875rem;
      font-weight: 600;
      font-size: .875rem;
    }
  }
}

/**************************************************
/**       CUSTOM INFO WINDOW COLORS              **
/*************************************************/
#custom-info-window {
  color: #000000;
  border: 2px solid;
  text-align: center;
  &.info-window__red {
    border-color: $cta-red;
    .train-info-header {
      background-color: $cta-red;
    }
  }
  &.info-window__blue {
    border-color: $cta-blue;
    .train-info-header {
      background: $cta-blue;
    }
  }
  &.info-window__brn {
    border-color: $cta-brown;
    .train-info-header {
      background: $cta-brown;
    }
  }
  &.info-window__g {
    border-color: $cta-green;
    .train-info-header {
      background: $cta-green;
    }
  }

  &.info-window__org {
    border-color: $cta-orange;
    .train-info-header {
      background: $cta-orange;
    }
  }

  &.info-window__p {
    border-color: $cta-purple;
    .train-info-header {
      background: $cta-purple;
    }
  }

  &.info-window__pink {
    border-color: $cta-pink;
    .train-info-header {
      background: $cta-pink;
    }
  }

  &.info-window__y {
    border-color: $cta-yellow;
    .train-info-header {
      background: $cta-yellow;
    }
  }
}
