#modal {
  .modal-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 3;
    .modal-content {
      position: absolute;
      top: calc(50% - calc(var(--bottom-bar-height) / 2));
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      background-color: #22343c;
      border-radius: 10px;
      width: 80vw;
      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #3dd598;
        padding: 13px 15px;
        padding-bottom: 13px;
        .modal-close {
          cursor: pointer;
        }
      }
      .modal-body {
        text-align: center;
        padding: 50px 20px;
        font-size: 0.875rem;
      }
    }
  }
  @media screen and (min-width: 925px) {
    .modal-backdrop .modal-content {
      top: 50%;
      width: 400px;
    }
  }
}
