#navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #22343c;
  z-index: 2;
  padding: 3px 0;
  font-size: .8rem;
  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  .nav-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    &.main {
      background-color: #3dd598;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .close-tab {
    display: none;
  }

  .nav-label {
    display: none;
  }

  @media screen and (min-width: 992px) {
    transform: translateX(-100%);
    top: 0;
    width: 370px;
    height: 100vh;
    background-color: #292f36;
    &.dt-active { transform: translateX(0); }
    .close-tab {
      display: block;
      position: absolute;
      width: 35px;
      height: 65px;
      background-color: #22343c;
      right: -35px;
      top: 30px;
      border-radius: 0 12px 12px 0;
    }
    .nav-item {
      text-align: center;
      .nav-icon {
        margin: 0 auto 15px auto;
        &.main {
          background-color: transparent;
        }
        &.dt-active {
          background-color: #3dd598;
        }
      }
      .nav-label {
        display: block;
      }
    }
  }
}
