#navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #22343c;
  z-index: 2;
  padding: 3px 0;
  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  .nav-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    &.main {
      background-color: #3dd598;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }

  .close-tab {
    display: none;
  }

  @media screen and (min-width: 992px) {
    width: 30vw;
    top: 0;
    bottom: unset;
    height: 100vh;
    position: relative;
    background-color: #292F36;
    .close-tab {
      display: block;
      position: absolute;
      width: 35px;
      height: 65px;
      background-color: #22343C;
      left: calc(30vw);
      top: 30px;
      border-radius: 0 12px 12px 0;
    }
  }
}
