<div class='modal-header'>
  <h3>{{header}}</h3>
  <img class='modal-close' src='./assets/icons/modal-close.svg' data-modal-close />
</div>
<div class='modal-body'>{{{body}}}</div>
{{! <div class='modal-footer'></div> }}