<ul>
    <li class="nav-icon settings" data-open="drawer-settings"><img src="{{settings}}" alt="Settings"></li>
    <li class="nav-icon locate main" data-locate><img src="{{locate}}" alt="Locate"></li>
    <li class="nav-icon about" data-open="drawer-about"><img src="{{about}}" alt="About"></li>
</ul>
<div class="close-tab"></div>