<ul>
    <li class="nav-icon settings"><a href="#"><img src="{{settings}}" alt="Settings"></a></li>
    <li class="nav-icon locate main"><a href="#"><img src="{{locate}}" alt="Locate"></a></li>
    <li class="nav-icon about"><a href="#"><img src="{{about}}" alt="About"></a></li>
</ul>
<div class="bottom-drawer">
    <div class="drawer-settings">
        <p>Test</p>
    </div>
</div>