<ul>
    <div class="nav-item" data-open="drawer-settings">
        <li class="nav-icon settings dt-active"><img src="{{settings}}" alt="Settings"></li>
        <div class="nav-label">Settings</div>
    </div>
    <div class="nav-item" data-locate>
        <li class="nav-icon locate main"><img src="{{locate}}" alt="Locate"></li>
        <div class="nav-label">Locate Me</div>
    </div>
    <div class="nav-item" data-open="drawer-about">
        <li class="nav-icon about"><img src="{{about}}" alt="About"></li>
        <div class="nav-label">About</div>
    </div>
</ul>
<div class="close-tab" data-toggle-dt-nav></div>