<div class="nav-item" data-open="drawer-settings">
    <div class="nav-icon drawer settings dt-active"><img src="{{settings}}" alt="Settings"></div>
    <span class="nav-label">Settings</span>
</div>
<div class="nav-item" data-locate>
    <div class="nav-icon locate main"><img src="{{locate}}" alt="Locate"></div>
    <span class="nav-label">Locate Me</span>
</div>
<div class="nav-item" data-open="drawer-about">
    <div class="nav-icon drawer about"><img src="{{about}}" alt="About"></div>
    <span class="nav-label">About</span>
</div>
<div class="close-tab" data-toggle-dt-nav><img src="{{dtDrawerArrow}}" alt="Drawer open/close toggle"></div>