<ul>
    <div class="nav-item">
        <li class="nav-icon settings dt-active" data-open="drawer-settings"><img src="{{settings}}" alt="Settings"></li>
        <div class="nav-label">Settings</div>
    </div>
    <div class="nav-item">
        <li class="nav-icon locate main" data-locate><img src="{{locate}}" alt="Locate"></li>
        <div class="nav-label">Locate Me</div>
    </div>
    <div class="nav-item">
        <li class="nav-icon about" data-open="drawer-about"><img src="{{about}}" alt="About"></li>
        <div class="nav-label">About</div>
    </div>
</ul>
<div class="close-tab"></div>