

<div class="modal-header">
    <h3>{{title}}</h3>
    <img class="modal-close" src='./assets/icons/modal-close.svg' data-modal-close/>
</div>
<div class="modal-body">{{!-- body contents --}}</div>
<div class="modal-footer">{!-- two button contents --}}</div>