<div class="train-info-container">
    <div class="train-info-header ">
        <h3 class="train-id">Run #{{trainID}}</h3>
        <h3 class="destination">{{destination}}</h3>
    </div>
    <div class="train-info-window">
        <h4 class="next-stop">Next Stop</h4>
        <h4 class="calculated-arrival">{{nextStop}} ({{[helpers/calculate-arrival] arrT}} min)</h4>
        {{#if isDly}}<span class="delayed">Delayed</span>{{/if}}
    </div>
</div>