@import url(./style.scss);

#bottom-drawer {
  position: fixed;
  bottom: var(--bottom-bar-height);
}
.drawer-pane {
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: #d8d8d8;
  transition: transform 0.46s ease-in-out;
  &.active {
    transform: translateY(-100%);
  }
}

/**************************************************
/**                 SETTINGS PANE                **
/*************************************************/
#drawer-settings {
  background-color: #292f36;

  .pane-header {
    background-color: #e000a0;
    padding: 0 13px;
    h2 {
      padding: 8px 0;
    }
  }
  .pane-content {
    padding: 0 13px;
    .labels {
      display: flex;
      justify-content: center;
      .label {
        margin: 0 20px;
      }
    }
    .filters-list {
        padding: 0; list-style: none;
        .train-line {
            .Red { @include variables.cta-colors('background-color'Red');}
        }
    }
  }
}
