#navbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #22343c;
  z-index: 2;
  ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  .nav-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    &.main {
      background-color: #3dd598;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
