@use 'utils/variables';


html { max-width: 100%; }
body { margin: 0; @include variables.ff-pro-display }
h3, h4 { font-size: 1.125rem; }
h1, h2, h3, h4, h5, h6 { margin: 0; @include variables.ff-pro-display-heavy; }
h2 { font-size: 1.25rem; }
h2 { font-size: 24px; color: #FFFFFF; }
#map { height: 100vh; }

